body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color:  #2155a3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.banner{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

.mainHeader {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Righteous', cursive;
    height: 70px;
    color: white;
}

a:link {
    border: 1px solid #2155a3;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

a:hover {
    background-color: rgb(133, 148, 161);
    color: white;
}

.forms {
    border: 2px solid white;
    border-radius: 5px;
}

.submitButton {
    padding: 5px;
    background-color:  #2155a3;
    color: white;
    border-radius: 5px;
}

.submitButton:hover{
    color: white;
    background-color: black;
    color: rgb(248, 204, 122);
}

input {
    padding: 3px;
}

a:visited {
    color: black;
}

.current, .current:visited {
    background-color: #2155a3;
    padding: 7px;
    color: white;
    border-radius: 5px;
}

.formTitle {
    color: white;
}

.toggleButton,.signOut, .submitSign {
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}

.errorMessage {
    color: red;
    background-color: white;
    margin-left: 20px;
    padding-left: 5px;
    max-width: 430px;
}

.numberInput {
  border: 1px solid black;
  width: 50px;
}

.activityForm {
    border: 1px dotted black;
    text-align: center;
}

.option {
    width: 125px;
    background-color: rgb(248, 204, 122);
}

.nav {
    text-decoration: "none";
}