body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color:  #2155a3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
}

.mainHeader {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Caveat', cursive;
    /* font-family: 'Righteous', cursive; */
    height: 70px;
    color: white;
}

.forms {
    border: 2px solid white;
    border-radius: 5px;
}

.submitButton {
    padding: 3px;
}

input {
    padding: 3px;
}

.current {
    background-color: #2155a3;
    padding: 7px;
    color: white;
    border-radius: 5px;
}

.formTitle {
    color: white;
}

.toggleButton {
    padding: 5px;
    border-radius: 5px;
}

.errorMessage {
    color: red;
    background-color: white;
}

.numberInput {
  border: 1px solid black;
  width: 25px;
}

.activityForm {
    border: 1px dotted black;
    width: 150px;
}