.myRoutinesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myRoutineForm button {
    padding: 5px;
}
.myRoutineForm {
    border: 1px solid gray;
    width: 400px;
    text-align: center;
    background-color: rgb(133, 148, 161);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.edit {
    background-color: orange;
    padding: 5px;
}

.delete {
    color: red;
    padding: 5px;
}

.delete:hover {
    background-color:black;
}

.routineMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.routineCard {
    width: 400px;
}

.routineEditForm {
    position: fixed;
    top: 500px;
    left: 500px; 
    display:none;
    /* background-color: rgb(101, 159, 245); */
    background-color: orange;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
}

.close {
    text-align: right;
    font-size:14px;
    color: rgb(231, 77, 77);
    border-radius: 5px;
    background-color: white;
    height: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

.nameHeading {
    display: flex;
    justify-content: space-between;
}

.editRoutineActivity {
    color: orange;
    background-color: gray;
    padding: 5px;
}

.editRoutineActivity:hover {
    background-color: lightgray;
}

.editingRoutineActivityForm {
    background-color: gray;
    position: relative;
    bottom: 900px;
    left: 50px; 
    border: 1px solid black;
    width: 200px;
    /* display:none; */
}

/* .actList {
    border-radius: 5px;
} */