.myRoutinesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myRoutineForm button {
    padding: 5px;
}
.myRoutineForm {
    border: 1px solid gray;
    width: 400px;
    text-align: center;
    background-color: rgb(133, 148, 161);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.edit {
    background-color: orange;
    padding: 5px;
}

.delete {
    color: red;
    padding: 5px;
}

.routineMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.routineCard {
    width: 300px;
}

.routineEditForm {
    position: fixed;
    top: 500px;
    left: 500px; 
    display:none;
    /* border-radius: 5px; */
    background-color: rgb(101, 159, 245);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.close {
    text-align: right;
    font-size:14px;
    color: rgb(231, 77, 77);
    text-decoration: underline;
}

.nameHeading {
    display: flex;
    justify-content: space-between;
}