.routinesSection {
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.routineItem {
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.actList {
    border: 1px solid black;
    padding: 5px;
}

.eachActivity {
    border: 1px solid lightgray;
}